<h1>User Signed In Page</h1>

            <a class="waves-effect waves-light btn" id="myButton">
                are you ready?
            </a>


<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="input-field">
                    <div class="col m6">
                        <h5 class="flow-text">Select Desired Currency</h5>
                    </div>
                    <div class="col m6">
                        <select id="desired-currency"></select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <div class="col m6">
                        <h5 class="flow-text">Select Current Currency</h5>
                    </div>
                    <div class="col m6">
                        <select id="current-currency"></select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <div class="col m6">
                        <h5 class="flow-text">Select Desired Currency Cash Amount</h5>
                    </div>
                    <div class="col m6">
                        <input id="desired-amount" type="number" class="validate" placeholder="100">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <div class="col m6">
                        <h5 class="flow-text">Select Transaction Location (Airport)</h5>
                    </div>
                    <div class="col m6">
                        <select id="transaction-location"></select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <div class="col m6">
                        <h5 class="flow-text">Select Transaction Date</h5>
                    </div>
                    <div class="col m6">
                        <input type="datetime-local" id="transaction-date">
                    </div>
                </div>
            </div>

            <div class="center">
                <a class="waves-effect waves-light btn" id="submit-btn">submit</a>
            </div>
        </div>
    </div>
</div>