{{!-- Aaron's customer page --}}

<br/>
<br/>
<h1>Customer Page</h1>
<br/> {{!--
<form>
  {{!-- desired currency --}}
  <select name="currency">
    <option value="USD">USD</option>
    <option value="EUR">USD</option>
  </select>
  {{!--how much --}}
  <select name="amount">

  </select>
  {{!--current currency --}}
  <select name="current currency">

    <select>
      {{!-- transaction location --}}
      <select name="location">

        <select>

          <input type="button" value="fixer api" id="apiCall">

</form> --}}

<div class="input-field col s12">
  <select>
    <option value="" disabled selected>Choose your option</option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
  </select>
  <label>Materialize Select</label>
</div>