/* index page */
#background {
    background-color: #334f8d;
    height: 100vh;
}

.custom {
    position: fixed;
    top: 10px;
    left: 25%;
    font-size: 700%;
}

/* vendor page */
.collapsible {
    display: none;
}

#vendor-back-btn {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.custom-card-row{
    margin-top: 100px;
}

.custom-icon {
    margin-right: 20px;
}

a.click-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}



