/* index page */
#background {
    background-color: #334f8d;
    height: 100vh;
}

/* vendor page */
.collapsible {
    /*display: none;*/
}

#vendor-back-btn {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.custom-card-row{
    margin-top: 100px;
}

.custom-icon {
    margin-right: 20px;
}



